__pycache__/
*.pyc
*.pyo

uploads/

output/logs
output/results
output/history
output/models/*.pt
output/models/*.pth
output/models/*.keras
output/models/*.onnx

datasets/*/*
!datasets/*/00.jpg

temp
.venv
